@import 'novaCor.scss';
@import 'paginaAdicionais.scss';

#banner-mostrapoa{
    background-image: url('../../../images/3.png');
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
}

#main .evento {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 5px;
    border: 1px solid snow;
    border-radius: 4px;
}

#main .evento > div {
    padding: 5px;
}

#main .evento > div span {
    display: block;
}

#main .text-center {
    text-align: center;
    margin-bottom: 15px;
}