//  @import 'novoHeader.scss';
@import 'novaCor.scss';
@import 'paginaAdicionais.scss';


.button{

    &.primary{

        padding: 0 2%;
    }
}

 #banner-robotics{
     background-image: url('../../../images/robotics.jpeg');
     height: 70vh;
     background-size: cover;
     background-repeat: no-repeat; 
     background-position-y: 30%;
 }


 @media screen and (max-width: 700px) {
    #banner-robotics    {
        background-size: contain;
    }

    #main .container .texto {
        height: initial;
    }
  }