section#one{

    .content{

        .container{

            width: auto;

            .header{
                text-align: center;
            }

            .row{
                
                display: grid;
                grid-template-columns: repeat(3,1fr);

                .col-4{
                    padding: 1em;
                    width: 100%;
                    text-align: center;
                    vertical-align: middle;

                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
}