.owl-carousel .owl-item figure{
    width: 100%    !important;

    img{

        display: unset !important;
        width: auto !important;
    }
}

header{

    &.major{

        &::after{

            background: #39c088 !important;
        }
    }
}

#titleBar{
    
    .toggle{

        &::before{

            background: #39c088 !important;
        }
    }
} 

a{
    &.button{

        &.primary{
        
            padding: 0 1%;
        }
    }
}
