header#header {
  position: relative !important;
  height: 7.5vh; }
  header#header #logo a:hover {
    color: #61bd97 !important; }
  header#header ul li a:hover {
    color: #61bd97 !important; }
  header#header ul li a.button.primary:hover {
    color: #fff !important;
    background: #61bd97 !important; }

#banner {
  background-image: url("../../../images/3.png");
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }
  #banner * {
    border-radius: unset !important; }
  #banner .content {
    position: relative;
    padding: 0;
    margin: 0; }
    #banner .content header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
    #banner .content span.image {
      width: unset;
      margin: 0; }
      #banner .content span.image::before {
        content: unset; }
  #banner::after {
    background-image: -webkit-linear-gradient(top, rgba(0, 255, 122, 0.1), rgba(23, 24, 32, 0.9)), url(images/overlay.png);
    background-image: -moz-linear-gradient(top, rgba(0, 255, 122, 0.1), rgba(23, 24, 32, 0.9)), url("images/overlay.png");
    background-image: -ms-linear-gradient(top, rgba(0, 255, 122, 0.1), rgba(23, 24, 32, 0.9)), url("images/overlay.png");
    background-image: linear-gradient(top, rgba(0, 255, 122, 0.1), rgba(23, 24, 32, 0.9)), url("images/overlay.png"); }

section#one .content .container {
  width: auto; }
  section#one .content .container .header {
    text-align: center; }
  section#one .content .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    section#one .content .container .row .col-4 {
      padding: 1em;
      width: 100%;
      text-align: center;
      vertical-align: middle; }
      section#one .content .container .row .col-4 p {
        margin: 0; }

section#two .content, section#three .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  section#two .content ul li a:hover, section#three .content ul li a:hover {
    color: #61bd97 !important;
    box-shadow: inset 0 0 0 1px #61bd97; }

section#four {
  position: relative; }
  section#four .icon.major {
    height: unset !important; }

section#five {
  position: relative; }
  section#five .organizadores {
    display: flex;
    justify-content: center; }
    section#five .organizadores * {
      text-align: center; }
    section#five .organizadores img {
      border-radius: 50%; }

.button.primary {
  background: #39c088; }
  .button.primary:hover {
    background: #61bd97;
    color: #fff; }

.content h2 {
  text-align: center; }

section#five .organizadores img {
  width: 120px;
  height: 120px;
  margin: auto; }

section#five .organizadores {
  margin-bottom: 50px; }
