#page-wrapper {
  padding-top: 0 !important; }

a.button.primary {
  background: #39c088 !important; }
  a.button.primary:hover {
    background: #61bd97 !important;
    color: #fff !important; }

header#header #logo a.button.primary {
  background: #39c088 !important; }

header#header #logo a:hover {
  color: #61bd97 !important; }

header#header ul li a:hover {
  color: #61bd97 !important; }

header#header ul li a.button.primary:hover {
  color: #fff !important;
  background: #61bd97 !important; }

#main .container .major::after {
  background: #39c088 !important; }

#main .container .texto {
  text-align: center;
  height: 70vh; }

#banner-startpoa {
  background-image: url("../../../images/bg-desk.jpg");
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.box .tips {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100%; }

.box .tips i {
  font-size: 40px;
  color: #39c088; }

.box .tips div {
  padding-left: 20px; }
